<mat-toolbar color="primary">
   <a [routerLink]="'/'" mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon">
     <mat-icon>menu_list</mat-icon>
   </a>
   <span>Sistema de Préstamos de Equipos</span>
   <span class="example-spacer"></span>
   <a [routerLink]="'/login'" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       Iniciar Sesión
   </a>
   <a [routerLink]="'/signup'" mat-button class="example-icon favorite-icon mr20  ml70" aria-label="Example icon-button with share icon">
      Registrar
   </a>
</mat-toolbar>